.linkButton {
    font-size: 2em;
}
.footer {
    width: 100%;
    background-color: #343a40!important;;
    font-size: 2em;
    text-align: center;
    position: fixed;
    bottom: 0;
    
}
.footer > * {
    display: inline;
}
.exo {
    text-align: center;
    font-size: 1.5em;
    padding-top: 1%;
}
.exos {
    margin-bottom: 100px;
}
.linkHome {
    text-align: center;
    font-size: 1.5em;
}
